@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: red;
  }
}

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: #323232;
  color: white;
  font-family: Noto Sans Nerd Font;
  font-size: 13px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#workspaces,
#bluetooth,
#custom-notifs,
#custom-power {
  padding-left: 10px;
  padding-right: 10px;
}

#custom-notifs,
#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-notifs.notification {
  animation-name: blink-warning;
  animation-duration: 6s;
  color: orange;
}

#custom-notifs {
  margin-right: 20px;
  border-radius: 15px;
  padding-right: 8px;
}

#battery.warning.discharging {
  color: orange;
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {
  font-weight: bold;
}

#cpu.warning {
  color: orange;
}

#cpu.critical {
  color: red;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode {
  background: #64727d;
  border-top: 2px solid white;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
}

#network.disconnected {
  color: orange;
}

#tray {
  /* No styles */
}

#workspaces > * {
  padding-left: 6px;
  padding-right: 6px;
}

#window {
  font-weight: bold;
}

#custom-power {
  margin-left: 20px;
  border-radius: 5px;
  padding-right: 12px;
  font-size: 16px; 
}

#custom-power:hover {
  background-color: #a07cb4;
}

#taskbar button {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  color: #a07cb4;
}

#taskbar button.active {
  color: white;
  background-color: #a07cb4;
  transition: background-color 0.3s ease-in;
}

menu {
  border-radius: 5px;
}
